<html>
  <head>
    <title>Backbone.js view - Hello World</title>
  </head>

  <body>
    <div id="hello_form_container"></div>

    <script type="text/template" id="hello_form_template">
      <label>Type your name</label>
      <input type="text" id="name_input" />
      <input type="button" id="submit_button" value="Submit" />
      <p></p>
      <div id="divprinthello"></div>
    </script>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>